*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    background: #000000;
}

.neon-btn{
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: #00bbff;
    border: 8px solid #00d0ff;
    padding: 5px 4px;
    border-radius: 16px;

    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #00c3ff;

    box-shadow: inset 0 0 32px #00c3ff, 0 0 32px #00b3ff;

    position: relative;
}

.para:hover> .neon-btn{
    color: #000000;
    border: 8px solid #000000;
    text-shadow: 0 0 8px rgb(0, 0, 0), 0 0 29px #000000;

    box-shadow: inset 0 0 32px #000000, 0 0 32px #000000;
}

.neon-btn2{
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: #7a0072;
    border: 8px solid #560065;
    padding: 5px 4px;
    border-radius: 16px;

    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #000000;

    box-shadow: inset 0 0 32px #6b486e, 0 0 32px #730073;

    position: relative;
}

.neon-btn3{
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: #00bbff;
    border: 8px solid #00d0ff;
    padding: 5px 4px;
    border-radius: 16px;

    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #00c3ff;

    box-shadow: inset 0 0 32px #00c3ff, 0 0 32px #00b3ff;

    position: relative;
}

.para2:hover> .neon-btn2{
    color: #000000;
    border: 8px solid #000000;
    text-shadow: 0 0 8px rgb(0, 0, 0), 0 0 29px #000000;

    box-shadow: inset 0 0 32px #000000, 0 0 32px #000000;
}
.para3:hover> .neon-btn3{
    color: #000000;
    border: 8px solid #000000;
    text-shadow: 0 0 8px rgb(0, 0, 0), 0 0 29px #000000;

    box-shadow: inset 0 0 32px #000000, 0 0 32px #000000;
}
#fundo{
    width: 400px;
    height: 370px;
    color: rgb(208, 179, 179);
    margin-left: 50px;
    display: none;
    background-color: rgba(245, 226, 226, 0.388);
    border-radius: 20px;
    background-size: 140% 130%;
    opacity: 1;
    transition: opacity 1s ease-out;
    padding: 15px;
   }
